<div class="index-container">
  <% @achievements.each do |achievement| %>
    <div class='index-item'>
      <img class='index-img' src="<%=achievement.img_url%>" alt="<%=achievement.title%>"> 
      <h6>Title: <%= achievement.title %></h6> 
      <h6>Category: <%= achievement.category %></h6> 
      <h6>Year: <%= achievement.year%></h6>
    </div>
  <% end %>
</div>