<h3>Suggestion List</h3>

<div class="index-container">
  <% @suggestions.each do |suggestion| %>
    <div class='index-item'>
      <img class='index-img' src="<%=suggestion.img_url%>" alt="<%=suggestion.name%>"> 
      <h6>Name: <%= link_to suggestion.name, suggestion %></h6> 
      <h6>Creators Hype Rating: <%= suggestion.hype_rating %></h6> 
      <%= button_to "Delete", suggestion_path(suggestion), method: :delete %>
    </div>
  <% end %>
</div>